{% extends "base.html" %}
{% load staticfiles %}

{% block extend_css %}
	<link rel="stylesheet" type="text/css" href="{% static "resource" %}/styles/contact_styles.css">
	<link rel="stylesheet" type="text/css" href="{% static "resource" %}/styles/contact_responsive.css">
{% endblock %}

{% block main_content %}

	<!-- Contact Info -->

	<div class="contact_info">
		<div class="container">
			<div class="row">
				<div class="col-lg-10 offset-lg-1">
					<div class="contact_info_container d-flex flex-lg-row flex-column justify-content-between align-items-between">

						<!-- Contact Item -->
						<div class="contact_info_item d-flex flex-row align-items-center justify-content-start">
							<div class="contact_info_image"><img src="{% static "resource" %}/images/contact_1.png" alt=""></div>
							<div class="contact_info_content">
								<div class="contact_info_title">Phone</div>
								<div class="contact_info_text">+38 068 005 3570</div>
							</div>
						</div>

						<!-- Contact Item -->
						<div class="contact_info_item d-flex flex-row align-items-center justify-content-start">
							<div class="contact_info_image"><img src="{% static "resource" %}/images/contact_2.png" alt=""></div>
							<div class="contact_info_content">
								<div class="contact_info_title">Email</div>
								<div class="contact_info_text">fastsales@gmail.com</div>
							</div>
						</div>

						<!-- Contact Item -->
						<div class="contact_info_item d-flex flex-row align-items-center justify-content-start">
							<div class="contact_info_image"><img src="{% static "resource" %}/images/contact_3.png" alt=""></div>
							<div class="contact_info_content">
								<div class="contact_info_title">Address</div>
								<div class="contact_info_text">10 Suffolk at Soho, London, UK</div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Contact Form -->

	<div class="contact_form">
		<div class="container">
			<div class="row">
				<div class="col-lg-10 offset-lg-1">
					<div class="contact_form_container">
						{% if registered %}
							<div class="alert alert-primary" role="alert">
  								Your message has been recorded. We will contact you soon.
							</div>
						{% else %}
							<div class="contact_form_title">Get in Touch</div>
							<form action="{% url 'home-page:contact' %}" id="contact_form" method="POST">
								{% csrf_token %}
								<div class="contact_form_inputs d-flex flex-md-row flex-column justify-content-between align-items-between">
									{{ contactForm.name }}
									{{ contactForm.email }}
									{{ contactForm.phone_number }}
								</div>
								<div class="contact_form_text">
									{{ contactForm.message }}
								</div>
								<div class="contact_form_button">
									<button type="submit" class="button contact_submit_button">Send Message</button>
								</div>
							</form>
						{% endif %}
					</div>
				</div>
			</div>
		</div>
		<div class="panel"></div>
	</div>

	<!-- Map -->

	<div class="contact_map">
		<div id="google_map" class="google_map">
			<div class="map_container">
				<div id="map"></div>
			</div>
		</div>
	</div>

{% endblock %}

{% block extend_js %}
	<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyCIwF204lFZg1y4kPSIhKaHEXMLYxxuMhA"></script>
	<script src="{% static "resource" %}/js/contact_custom.js"></script>
{% endblock %}


