{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
    <title>OneTech - Your Shopping Cart</title>
{% endblock %}

{% block main_css %}
	<link rel="stylesheet" type="text/css" href="{% static "resource" %}/styles/product_styles.css">
	<link rel="stylesheet" type="text/css" href="{% static "resource" %}/styles/product_responsive.css">
{% endblock %}



{% block main_content %}

   <h1>Hello</h1>
{% endblock %}

{% block main_js %}
	<script src="{% static "resource" %}/js/product_custom.js"></script>
{% endblock %}