<nav class="main_nav">
				<div class="container">
					<div class="row">
						<div class="col">

							<div class="main_nav_content d-flex flex-row">

								<!-- Categories Menu -->

								<div class="cat_menu_container">
									<div
										class="cat_menu_title d-flex flex-row align-items-center justify-content-start">
										<div class="cat_burger">
											<span></span><span></span><span></span>
										</div>
										<div class="cat_menu_text">categories</div>
									</div>

									<ul class="cat_menu">
										{% for cat in category %}
											<li><a href="{% url 'home-page:shop' cat.id 0 %}">{{ cat.name }}
												<i class="fas fa-chevron-right ml-auto"></i></a>
											</li> 
										{% endfor %}
									</ul>
								</div>

								<!-- Main Nav Menu -->

								<div class="main_nav_menu ml-auto">
									<ul class="standard_dropdown main_nav_dropdown">
										<li><a href="{% url 'home-page:index' %}">Home<i class="fas fa-chevron-down"></i></a></li>
										<li><a href="{% url 'home-page:shop' 0 0 %}">Shop<i class="fas fa-chevron-down"></i></a></li>
										<li><a href="{% url 'home-page:blog' %}">Blog<i class="fas fa-chevron-down"></i></a></li>
										<li><a href="{% url 'home-page:contact' %}">Contact<i class="fas fa-chevron-down"></i></a></li>
									</ul>
								</div>

								<!-- Menu Trigger -->

								<div class="menu_trigger_container ml-auto">
									<div
										class="menu_trigger d-flex flex-row align-items-center justify-content-end">
										<div class="menu_burger">
											<div class="menu_trigger_text">menu</div>
											<div class="cat_burger menu_burger_inner">
												<span></span><span></span><span></span>
											</div>
										</div>
									</div>
								</div>

							</div>
						</div>
					</div>
				</div>
			</nav>